/* Import fonts from fonts.css */

@import url(./fonts.css);

/* css variable */
@import url(./partials/_variable.css);

/* global */
@import url(./partials/_global.css);

/* Start navbar */

.header-area .main-menu .navbar .navbar-brand {
  padding: 1 2rem 1 5rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 8rem;
}

.header-area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.site-main .site-banner {
  background: url(/img/banner/banner-image.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* End navbar */
