/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto Slab');

/* Css variable */
:root {
    --header-height: 3rem;

    /* Color */
    --first-color: #3E0E12;
    --first-color-dark: #2F0A0D;
    --text-color: #524748;
    --first-color-light: #7B6F71;
    --first-color-lighten: #FBF9F9;

    /* Font and typography */
    --body-font: 'Roboto Slab';
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margin */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* Z index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h2,
h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Class css */

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

.bd-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }
}

.nav-item {
    margin-bottom: var(--mb-3);
}

.nav-link {
    color: var(--first-color-lighten);
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-color-light);
}

.nav-logo,
.nav-toggle {
    color: var(--first-color-lighten);
}

.nav-toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

.show-menu {
    top: var(--header-height);
}

/* Active menu */
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

/* Ubah background header*/
.scroll-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav-logo,
.scroll-header .nav-toggle,
.scroll-header .nav-link {
    color: var(--first-color-dark);
}

.scroll-header .nav-menu {
    background-color: var(--first-color-lighten);
}

/* Scroll top */
.scroll-top {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scroll-top:hover {
    background-color: var(--first-color);
}

.scroll-top-icon {
    font-size: 2rem;
    color: var(--first-color-lighten);
}

/* Show scroll top */
.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/* Home */
.home {
    background-color: #000;
    overflow: hidden;
}

.home-container {
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
}

.home-data {
    border-left: 4px solid var(--first-color-lighten);
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
}

.home-name {
    font-size: var(--biggest-font-size);
}

.home-greeting,
.home-profession {
    display: block;
    font-weight: var(--font-bold);
}

.home-greeting {
    font-size: .813rem;
}

.home-profession {
    font-size: .938rem;
    margin-bottom: var(--mb-3);
}

.home-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-img img {
    width: 240px;
}

.home-social {
    display: flex;
    flex-direction: column;
}

.home-social-icon {
    width: max-content;
    font-size: 1.3rem;
    margin-bottom: var(--mb-2);
    color: var(--first-color-lighten);
}

.home-social-icon:hover {
    color: var(--first-color-light);
}

/* Button */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-dark);
}

.button-light {
    background-color: var(--first-color-light);
}

/* About */
.about-data {
    text-align: center;
}

.about-description span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.about-number {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    display: block;
}

.about-img {
    justify-self: center;
    width: 220px;
    border-radius: .5rem;
}

/* Qualification */
.qualification-container {
    row-gap: 2.5rem;
}

.qualification-title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
    display: flex;
    align-items: center;
}

.qualification-title-icon {
    font-size: 1.5rem;
    margin-right: var(--mb-1);
}

.qualification-box {
    padding-bottom: 1rem;
    border-bottom: 1px solid #CCC;
}

.qualification-area {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.qualification-icon,
.qualification-work {
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
}

.qualification-work {
    display: block;
}